
.media-tile {
	@include make-row();

	.item-image {
    display: block;
		@include make-sm-column(3);
    @include make-sm-column-offset(1);

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
	}
 	.item-details {
		@include make-sm-column(7);

		> h1 {
      margin-top: 0;
			text-align: left;
			text-decoration: underline;
		}

		> p {
			text-align: justify;
		}

		.excerpt {
			padding-left: 0.75em;
			color: $link-color;
		}
	}

	.alert {
		margin: 5px 0 0;
	}
}
