.modal-body {
  text-align: left;
}

.modal-header {
  background: $brand-primary;
  border-radius: 4px 4px 0 0;

  > button {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.modal-title {
  color: #fff;
  font-size: 30px;
}
