/**
 * partials/nav
 * ---
 * Menus
 */

nav.nav {
  margin-bottom: 30px;
	ul {
		background: #ebebeb;
		list-style-type: none;
		padding: 10px 15px;
		margin: 0;
		border-bottom: 1px solid #ccc;
		li {
			margin-right: 15px;
			font-size: 16px;
			display: inline-block;
			border-radius: 5px;

			a {
				padding: 10px 15px;
				line-height: 24px;
				display: block;
			}

			&:hover {
				background: darken($brand-primary, 20%);
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.current_page_item,
.current-menu-item,
.current-post-parent {
  background: darken($brand-primary, 20%);
  a {
    color: #fff;
  }
}
