.nf-form-fields-required {
  font-size: 0;
  margin-bottom: 0;
}

.nf-form-title {
  .contact-page &,
  .js-request-class-modal & {
    display: none;
  }
}

.ninja-forms-field {
  @extend .form-control;
}

.nf-element[type="checkbox"] {
  margin-top: 0.5em;
}