/**
 * partials/wrapper
 * ---
 */
body {
	background: darken($brand-primary, 20%);
}

.wrapper {
  max-width: $wrapper-width;
  padding: 0;
  margin: 0 auto;
  position: relative;
  background: #fff;
}
