/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
 @import "bootstrap/_bootstrap";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/spinner";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
@import "partials/testimonials";
@import "partials/gallery";
@import "partials/media-tile";
@import "partials/info-block";
@import "partials/payment-block";
@import "partials/z-layout";
@import "partials/blog";
@import "partials/modal";
@import "partials/promo-banner";
@import "partials/shows-list";
@import "partials/ninja-forms-override";

h1, h2, h3, h4, h5, h6,
.nav,
.detail-list,
.alert,
.filter-toolbar,
.rountree .stripe-button-el > span {
	font-family: 'Poppins', 'Helvetica Neue', Verdana, sans-serif;
}

body {
	font-family: 'Lato';
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
}

section.container {
  width: 100%;
}

.filter-toolbar {
	margin-bottom: 30px;
}

.circle {
	border-radius: 50%;
}

.single-class-post {
  margin-top: 30px;
}

.blog-post {
  margin-bottom: 15px;
}

.post-meta-information {
  font-family: 'Zilla Slab';
  color: #999;
}

.post a {
  text-decoration: underline;
  color: #337ab7;
}

.banner-image-container {
	height: 400px;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	&:before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.page-title-wrapper {
  @include gradient-vertical(transparent, rgba(0,0,0,0.75), 30%, 80%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-text {
	margin-bottom: 36px;
	margin-right: 76px;
	text-align: right;
	color: #fff;
	text-shadow: 4px 4px 1px rgba(0,0,0,.75);
	h1 {
		font-size: 72px;
		margin: 0;
	}
	h2 {
		font-size: 30px;
		margin: 0;
	}
}

.rountree .stripe-button-el {
  @extend .btn-lg;
  @extend .btn-primary;
  background-image: none;

  > span {
    background: transparent;
    font-size: 18px;
    font-weight: normal;
    box-shadow: none;
  }
}

.home-page {
  margin-top: 50px;
}

.comments {
  .comment {
    position: relative;
    list-style-type: none;
    &:before {
			content: "\201C";
			font-family: 'Spirax';
			font-size: 72px;
      position: absolute;
      left: -46px;
			line-height: .9;
      color: #bbb;
      background: #f5f5f5;
      line-height: 78px;
      height: 42px;
      padding: 5px;
      border-radius: 50%;
    }
  }
}

.page-title {
  margin-bottom: 30px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.nf-element[type="button"] {
  @extend .btn-lg;
  @extend .btn-primary;
}

.alert {
  font-size: 16px;
  text-align: left;
}

// This always goes last!
@import "responsive";
