/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
 @import "bootstrap/_bootstrap";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
@import "partials/testimonials";
@import "partials/gallery";
@import "partials/media-tile";
@import "partials/info-block";
@import "partials/ninja-forms-override";

h1, h2, h3, h4, h5, h6,
.nav,
.detail-list,
.alert,
.filter-toolbar,
.rountree .stripe-button-el > span {
	font-family: 'Poppins', 'Helvetica Neue', Verdana, sans-serif;
}

body {
	font-family: 'Lato';
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
}

.filter-toolbar {
	margin-bottom: 30px;
}

.circle {
	border-radius: 50%;
}

.show-description {
  margin-top: 30px;
  @include make-sm-column-offset(1);
  @include make-sm-column(10);

  .show-details {
    margin-top: 30px;
  }
}

// Z-layout
.class-listing:nth-child(even) {
	.media-tile .class-image {
		@include make-sm-column-push(8);
		@include make-sm-column-offset(0);
	}
 	.class-details {
		@include make-sm-column-pull(3);
		@include make-sm-column-offset(1);
	}
}

.show-content {
  margin-bottom: 50px;
}


.single-class-post {
  margin-top: 30px;
}

.blog-post {
  margin-bottom: 15px;
}

.post-meta-information {
  font-family: 'Zilla Slab';
  color: #999;
}

.blog-excerpt {
  &:before {
    content: "\201C";
    font-family: 'Spirax';
    font-size: 148px;
    position: absolute;
    line-height: 1;
    color: #bbb;
  }

  > p {
    padding-left: 4.5em;
  }

  .view-article {
    @extend .btn-default;
  }
  .read-more-wrapper {
    @include make-sm-column-offset(1);
  }
}

.banner-image-container {
	height: 400px;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	&:before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.page-title-wrapper {
  @include gradient-vertical(transparent, rgba(0,0,0,0.75), 30%, 80%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-text {
	margin-bottom: 36px;
	margin-right: 76px;
	text-align: right;
	color: #fff;
	text-shadow: 4px 4px 1px rgba(0,0,0,.75);
	h1 {
		font-size: 72px;
		margin: 0;
	}
	h2 {
		font-size: 36px;
		margin: 0;
	}
}

footer {
  font-family: 'Zilla Slab';
	background: darken($brand-primary, 20%);
	color: #fff;
	text-align: center;
	padding: 100px 0;
  margin-top: 150px;

  &.no-margin {
    margin-top: 0;
  }

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: #fff;
		}
	}
}

.promo-banner {
  position: relative;
  margin-top: 50px;

	img {
		width: 100%;
		height: auto;
	}

  .promo-overlay {
    @include gradient-vertical(transparent, rgba(0,0,0,0.75), 30%, 50%);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 30px;

    h2 {
      font-size: 72px;
      text-shadow: 3px 3px 4px rgba(0,0,0,.9);
      color: #fff;
    }
  }
}

.rountree .stripe-button-el {
  @extend .btn-lg;
  @extend .btn-primary;
  background-image: none;

  > span {
    background: transparent;
    font-size: 18px;
    font-weight: normal;
    box-shadow: none;
  }
}

.home-page {
  margin-top: 50px;
}

.comments {
  .comment {
    position: relative;
    list-style-type: none;
    &:before {
			content: "\201C";
			font-family: 'Spirax';
			font-size: 72px;
      position: absolute;
      left: -46px;
			line-height: .9;
      color: #bbb;
      background: #f5f5f5;
      line-height: 78px;
      height: 42px;
      padding: 5px;
      border-radius: 50%;
    }
  }
}

.page-title {
  margin-bottom: 30px;
}

.nf-element[type="button"] {
  @extend .btn-lg;
  @extend .btn-primary;
}

.modal-header {
  background: $brand-primary;
  border-radius: 4px 4px 0 0;

  > button {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.modal-title {
  color: #fff;
  font-size: 30px;
}

.alert {
  font-size: 16px;
  text-align: left;
}

.showtime-listing {
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}

.show-grid {
  width: 100%;
  table-layout: fixed;
  text-align: left;

  thead {
    .show-date-time {
      width: 200px;
    }
    .show-location {
      width: 100%;
    }
    .show-ticket-info {
      width: 200px;
    }
  }

  .maps-link {
    color: $link-color;
  }
}

// This always goes last!
@import "responsive";
